<body class="sky">
<div class="animation_box">
  <h1 class="lady">Lady</h1>
  </div>
<div class="animation_box2">
  <h3 class="gaiyou">女性限定のマッチングサイト</h3>
</div>
<br>
<div class="animation_box2">
  <h4 class="gaiyou">新しい出会いを見つけよう！<br>
  きっと素敵な出会いが待っている！
  </h4>
</div>
<br>
<br>
<br>
<%= link_to tweets_path do %>
<div class="deai">出会いに行く </div>
<% end %>
</body>
